{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; margin: 20px auto; background-color: #ffffff; border: 1px solid #dddddd;">
        {{!-- <tr>
            <td align="center" style="padding: 20px;">
                <img src="{{logoUrl}}" alt="Company Logo" style="max-width: 200px;">
            </td>
        </tr> --}}
        {{!-- <tr>
            <td align="center" style="padding: 0 20px;">
                {{{bodyContent}}} <!-- This is where the dynamic content will be inserted -->
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px; background-color: #f9f9f9;">
                <p style="margin: 0; font-size: 14px; color: #777777;">&copy; {{currentYear}} Your Company. All rights reserved.</p>
            </td>
        </tr>
    </table> --}}


    {{!-- <p>Hey {{ name }},</p>
<p>
  Thanks for signing up for Reception App. We're very excited to have you on board.
</p>

<p>To get started using Reception App, please confirm your account below:</p>
<p>
  <a href="{{ confirmation_url }}">Confirm your account</a>
</p>

<p>
  If you're having trouble clicking the confirm account button, copy and paste
  the below URL into your web browser.
</p> --}}

{{!-- <a href="{{ confirmation_url }}">{{ confirmation_url }}</a> --}}


{{!-- </body>
</html>  --}}



<html>
  <body>
    <center>
      <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
        <h2 style="color: #292536; text-align: center">Confirme seu endereço de email</h2>
        <p>Para confirmar seu email clique no botão abaixo, ou acesse o seguinte link: </p>
        <div style="margin: 20px auto; width: 180px; padding: 10px 20px; background-color: #442d52; border-radius: 5px; text-align: center;">
          <a href="http://url-do-front/email-confirmation/?token={{token}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Confirmar Email</a>
        </div>
      </div>
    </center>
  </body>
</html>
